.content h1, .content h2 {
  color: rgb(107, 107, 107);
  margin: 10px 0;
}
.content h1 { font-size: 36px }
.content h2 { font-size: 28px }
.content .card { margin: 20px 0 }
.hide { display: none }

/* Botões radio personalizados */
.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}
