/* ------------------------------------------------------------------- 
 * Team 
 * ------------------------------------------------------------------- */

.team {
  text-align: center;
  margin-top: -30px;
}
.role {
  display: inline-block;
  margin: 25px;
}
h1.role-name {
  font-size: 24px;
}
.person {
  display: inline-block;
  width: auto;
  padding: 5px;
  vertical-align: top;
}



.person-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

.person-photo:hover {
  width: 100px;
  height: 100px;
  opacity:0.3;
 
}


.person-name {
  border-radius: 50%;
  width:100%;
}

/* ===================================================================
*  13. equipe - (_layout.scss)
*
* ------------------------------------------------------------------- */

#equipe {
  background: #FFFFFF;
  padding: 10rem 0 9rem;
  text-align: center;
  min-height: 600px;
}

#equipe h1::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#equipe .owl-wrap {
  width: 80%;
  max-width: 900px;
  margin: 4.2rem auto 0;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * equipe
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
  #equipe .owl-wrap {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  #equipe .owl-wrap {
    width: 100%;
  }   
}