body {
   background: linear-gradient(to right, #1d976c, #93f9b9);
   padding: 15% 0px;
}

.bg-light {
    background-color: #f1f1f1!important;
}

.hidden {
   display: none;
}

.input-field {
   margin-top: 10px;
}

.margin30 { 
   margin-bottom: 30px;
}

.margin20 { 
   margin-bottom: 20px;
}

.margin15 { 
   margin-bottom: 15px;
}

.margin10 { 
   margin-bottom: 10px;
}

p {
   line-height: 100%;
}

.nav-link {
   text-transform: uppercase;
   color: #222
}

.nav-pills {  
   font-weight: 600;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {  
   border-top: solid 4px #1d976c;
   border-left: solid 1px #dddddd;
   border-right: solid 1px #dddddd;
   background: #fff;
   color: #444;
}

.tab-content {
   border: solid 1px #dddddd;
   padding: 30px;
}

.mb-3, .my-3 {
    margin-bottom: -1px !important;
}